{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    <script src="{% static 'network/script.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <nav class="navbar">
        <div class="nav-items">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="" href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
            </li>
            {% endif %}
            <a class="nav-item" href="{% url 'index' %}">Network</a>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'add_post' %}">Add Post</a>
            </li>
            {% endif %}


        </div>

        <div class="nav-items-right">

            <ul class="nav-items">

                <li class="nav-item">
                    <a class="" href="{% url 'index' %}">All Posts</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="" href="{% url 'following' %}">Following</a>
                </li>
                <li class="nav-item">
                    <a class="" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!--
        nav mobile menu
        -->
        <button id="hamburger" class="hidden">
            <span class="hamburger-menu"></span>
            <span class="hamburger-menu"></span>
            <span class="hamburger-menu"></span>
        </button>

        <div class="nav-mobile-menu">
            <ul class="nav-mobile">

                <li class="nav-item">
                    <a class="" href="{% url 'index' %}">All Posts</a>
                </li>
                <hr>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="" href="{% url 'following' %}">Following</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <hr>
                <li class="nav-item">
                    <a class="" href="{% url 'login' %}">Log In</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </nav>

    <div class="body">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
        <p> Fun Project that i made with love ❤️
        </p>
    </footer>


</body>

</html>