{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="login-form">
    <h2>Login</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form class="login-from-a" action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <input autofocus type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
        
    </form>

    <p> Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
</div>

{% endblock %}