{% extends "network/layout.html" %}
{% load static %}

{% block title %}
{{ post.title}}
{% endblock %}

{% block body %}

<div class="post-item post-view" id="{{ post.id }}">
    <div class="post-user-time-stamp">
        <a href="{% url 'profile' post.user.username %}"> <h5 class="">{{ post.user.username }}</h5> </a>
        <p class="time-stamp">{{ post.time_stamp }}</p>
    </div>
    <h4>{{post.title}}</h4>
    {% if post.image %}
    <img class="img-post" src="{{ post.image.url }}" alt="">
    {% endif %}
    <p>{{ post.content }}</p>

    <div class="post-likes">
        <button id="up-{{ post.id }}" class="btn-like {% if post.user_vote == 'up' %}active{% endif %}">
            <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
                <path
                    d="M10 19a3.966 3.966 0 01-3.96-3.962V10.98H2.838a1.731 1.731 0 01-1.605-1.073 1.734 1.734 0 01.377-1.895L9.364.254a.925.925 0 011.272 0l7.754 7.759c.498.499.646 1.242.376 1.894-.27.652-.9 1.073-1.605 1.073h-3.202v4.058A3.965 3.965 0 019.999 19H10zM2.989 9.179H7.84v5.731c0 1.13.81 2.163 1.934 2.278a2.163 2.163 0 002.386-2.15V9.179h4.851L10 2.163 2.989 9.179z">
                </path>
            </svg>
        </button>
        <p class="likes-count" id="likes-{{ post.id }}"> {{ post.votes}}</p>
        <button id="down-{{ post.id }}" class="btn-like {% if post.user_vote == 'down' %}active{% endif %}">
            <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                style="transform: rotate(180deg);">
                <path
                    d="M10 19a3.966 3.966 0 01-3.96-3.962V10.98H2.838a1.731 1.731 0 01-1.605-1.073 1.734 1.734 0 01.377-1.895L9.364.254a.925.925 0 011.272 0l7.754 7.759c.498.499.646 1.242.376 1.894-.27.652-.9 1.073-1.605 1.073h-3.202v4.058A3.965 3.965 0 019.999 19H10zM2.989 9.179H7.84v5.731c0 1.13.81 2.163 1.934 2.278a2.163 2.163 0 002.386-2.15V9.179h4.851L10 2.163 2.989 9.179z">
                </path>
            </svg>
        </button>
    </div>

</div>
{% endblock %}