{% extends "network/layout.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block body %}


<div class="profile">
    <h2>Username: {{ profile_user.username }}</h2>
    <p id="followers-id">Followers: {{ followers_count }}</p>
    <p>Following: {{ following_count }}</p>

    {% if user.username != profile_user.username %}
        <form action="{% url 'follow' profile_user.username %}" method="POST" id="follow-form">
            {% csrf_token %}
            {% if is_following %}
                <input type="hidden"  name="follow_action" value="unfollow-{{ profile_user.username }}">
                <button class="btn-foll" type="submit">Unfollow</button>
            {% else %}
                <input type="hidden" name="follow_action" value="follow-{{ profile_user.username }}">
                <button class="btn-foll" type="submit">Follow</button>
            {% endif %}
        </form>
    {% endif %}

</div>

<div id="post-main" style="margin-top: 20px;">
    <h3 style="color: white; text-align: center; margin-bottom: 10px;">User Posts</h3>
    {% for post in posts %}
    <div class="post-item" style="margin-bottom: 20px;" id="{{ post.id }}">
        <div class="post-user-time-stamp">
            <a href="{% url 'profile' post.user.username %}">
                <h5>{{ post.user.username }}</h5>
            </a>
            <p class="time-stamp">{{ post.time_stamp }}</p>
        </div>
        <a class="cont" href="{% url 'post' post.id %}">
            <h3 class="post-element">{{ post.title }}</h3>

            {% if post.image %}
            <img class="img-post" src="{{ post.image.url }}" alt="">
            {% endif %}

            <p class="post-content">{{ post.content }}</p>

            <div class="post-likes">
                <button id="up-{{ post.id }}" class="btn-like {% if post.user_vote == 'up' %}active{% endif %}">
                    <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M10 19a3.966 3.966 0 01-3.96-3.962V10.98H2.838a1.731 1.731 0 01-1.605-1.073 1.734 1.734 0 01.377-1.895L9.364.254a.925.925 0 011.272 0l7.754 7.759c.498.499.646 1.242.376 1.894-.27.652-.9 1.073-1.605 1.073h-3.202v4.058A3.965 3.965 0 019.999 19H10zM2.989 9.179H7.84v5.731c0 1.13.81 2.163 1.934 2.278a2.163 2.163 0 002.386-2.15V9.179h4.851L10 2.163 2.989 9.179z">
                        </path>
                    </svg>
                </button>
                <p class="likes-count" id="likes-{{ post.id }}"> {{ post.votes}}</p>
                <button id="down-{{ post.id }}" class="btn-like {% if post.user_vote == 'down' %}active{% endif %}">
                    <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                        style="transform: rotate(180deg);">
                        <path
                            d="M10 19a3.966 3.966 0 01-3.96-3.962V10.98H2.838a1.731 1.731 0 01-1.605-1.073 1.734 1.734 0 01.377-1.895L9.364.254a.925.925 0 011.272 0l7.754 7.759c.498.499.646 1.242.376 1.894-.27.652-.9 1.073-1.605 1.073h-3.202v4.058A3.965 3.965 0 019.999 19H10zM2.989 9.179H7.84v5.731c0 1.13.81 2.163 1.934 2.278a2.163 2.163 0 002.386-2.15V9.179h4.851L10 2.163 2.989 9.179z">
                        </path>
                    </svg>
                </button>
            </div>
        </a>

    </div>
    {% empty %}
    <h4>No Posts yet.</h4>
    {% endfor %}
</div>





{% endblock %}